doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href="style.css")
        script(src="/jquery-3.5.1.min.js")
    body 
        .register
            h1 ثبت نام
            form(action="/register" method="post") 
                label نام: 
                input(type="text" name="firstName")
                br
                label نام خانودادگی: 
                input(type="text" name="lastName")
                br
                label ایمیل: 
                input(type="text" name="email")
                br
                label کلمه عبور: 
                input(type="text" name="password")
                br
                button(type="submit") ثبت
        footer.footer
            img#img1(src="1.jpg")
            img#img2(src="2.jpg")
            img#img3(src="3.jpg")
            img#img4(src="4.jpg")
            img#img5(src="5.jpg")
            img#img6(src="6.jpg")
            img#img7(src="7.jpg")

    script(src="script.js") 
        