@font-face{
    font-family: 'iransans';
    src: url('iransans.ttf');
}
body{
    padding: 0;
    margin: 0;
}
.register{
    background-color: lightblue;
    width: 50%;
    margin: 3vw auto;
    direction: rtl;
    text-align: center;
    padding: 2vw 3vw;
    border-radius: 2vw;
    margin-top: 6vw;
}










.register h1{
    font-family: 'iransans';
    font-size: 1.3vw;
    color: coral;
    transition-duration: 500ms;
}
.register h1:hover{
    color: purple;
    font-size: 1.8vw;
    cursor: pointer;
}



















.register label{
    display: block;
    font-family: 'iransans';
}
.register input{
    font-family: 'iransans';
    font-size: 1vw;
    background-color: white;
    border: none;
    border-radius: 1vw;
    padding: 0.5vw 3vw;
}
.register button{
    background-color: blue;
    color: white;
    display: block;
    width: 30%;
    border: none;
    margin: auto;
    margin-top: 1vw;
    font-family: 'iransans';
    font-size: 1.1vw;
    padding: 0.5vw 3vw;
    border-radius: 1vw;
    cursor: pointer;
}
.register button:hover{
    background-color: chocolate;
}


footer{
    background-color: darkblue;
    padding: 0;
    margin: 0;
    overflow: hidden;
    padding: 3vw 2vw;
    overflow-y: scroll;
}
footer img{
    height: 15vw;
    margin-left: 1vw;
    float: right;
}

nav{
    background-color: lightgray;
    overflow: hidden;
    /* padding: 0 10%; */
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
}
nav a{
    float: right;
    font-family: 'iransans';
    font-size: 1vw;
    padding: 1vw 2vw;
    text-decoration: none;
    color: black;

}
nav a:hover{
    background-color: lightblue;
}